@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?ljne7d');
    src:    url('fonts/icomoon.eot?ljne7d#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?ljne7d') format('truetype'),
        url('fonts/icomoon.woff?ljne7d') format('woff'),
        url('fonts/icomoon.svg?ljne7d#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e900";
}
.icon-envelop:before {
    content: "\e945";
}
.icon-database:before {
    content: "\e964";
}
.icon-smile:before {
    content: "\e9e1";
}
.icon-tongue:before {
    content: "\e9e3";
}
.icon-cool:before {
    content: "\e9eb";
}
.icon-angry:before {
    content: "\e9ed";
}

